.form-addtask{
	padding: 2.5%;
	min-width: 300px;
	border-radius: 4px;
	max-width: 500px;
	margin: 0 auto;
}
.content{
	background-color: white;
}
.list-container{
	margin: 0 auto;
	padding: 2.5%;
	min-width: 300px;
	border-radius: 4px;
}